html{
    font-size: 32px;
    cursor: default;
    font-family: 'Rajdhani', sans-serif;
    user-select: none;
}

#container {
    position:relative;
    display: grid;
    margin:auto;
    padding:.5rem;
    justify-content: center;
    justify-items:center;
    width: 12rem;
    height: 20rem;
    background: linear-gradient(135deg, rgb(168, 168, 168), gray);
    border-radius: 25px;
    box-shadow: 7px 7px 0px black, 4px 4px 0px black, 7px 7px 15px black;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: auto;
    grid-template-areas: 
    "display display display display"
    "clear clear delete divide"
    "c7 c8 c9 multi"
    "c4 c5 c6 minus"
    "c1 c2 c3 addition"
    " . c0 deci equal";
}

.button {
    width:2.2rem;
    height:2.2rem;
    background-color: white;
    text-align:center;
    border-radius: 50%;
    box-shadow:inset 0 0 20px gray, 2px 2px 0px black, 3px 3px 5px black, -1px -1px 2px white;
    line-height: 2.2rem;
    transition: ease-in-out 0.1s;
    
}

.button:hover {
    background-color : lightgray;
}

#clear:hover {
    background-color : lightgray;
}

#display {
    grid-area: display;
    font-size: 1.5rem;
    text-align: right;
    line-height: 2.5rem;
    margin-top:1rem;
    padding-right:.5rem;
    width:11rem;
    height:2rem;
    background-color: rgb(120, 179, 201);
    border:2px solid white;
    box-shadow: inset 0px 0px 10px white, 0px 0px 10px lightblue;
    overflow: hidden;
    user-select:contain;    
}
#total {
    font-size: .55rem;
    position:absolute;
    top:1.7rem;
    left:1.1rem;
    user-select:all;

}

#clear {
    grid-area: clear;
    background-color: white;
    width:5rem;
    height:2rem;
    box-shadow:inset 0 0 20px gray, 2px 2px 0px black, 3px 3px 5px black, -1px -1px 2px white;
    border-radius: 1rem;
    text-align: center;
    line-height: 2rem;
    transition: ease-in-out 0.1s;
}

#c1 {
    grid-area: c1;
}

#c2 {
    grid-area: c2;
}

#c3 {
    grid-area: c3;
}

#c4 {
    grid-area: c4;
}

#c5 {
    grid-area: c5;
}

#c6 {
    grid-area: c6;
}

#c7 {
    grid-area: c7;
}

#c8 {
    grid-area: c8;
}

#c9 {
    grid-area: c9;
}

#c0 {
    grid-area: c0;
}

#division {
    grid-area: divide;
}
#delete {
    grid-area: delete;
}

#multiplication {
    grid-area: multi;
}

#subtraction {
    grid-area: minus;
}

#addition {
    grid-area: addition;
}

#decimal {
    grid-area: deci;
}

#equal {
    grid-area: equal;
}